<div class="nav-wrapper container">
	<a href="/" class="brand-logo"><img src="/images/Open.png" height="48" style="margin-top: 8px" alt="Open Shop Channel Logo"></a>
	<a href="#" data-target="mobile" class="sidenav-trigger"><span style="color: white;"><i class="fas fa-bars"></i></span></a>
  <ul class="right hide-on-med-and-down">
		<li><a href="/about.html"><i class="fas fa-info-circle" aria-hidden="true"></i> About</a></li>
	  <li><a href="https://api-docs.oscwii.org"><i class="fas fa-book" aria-hidden="true"></i> API</a></li>
	  	<li><a href="https://beta.oscwii.org/publish.html"><i class="fas fa-upload" aria-hidden="true"></i> Publish</a></li>
  </ul>
</div>

<ul class="sidenav" id="mobile">
  <li><a href="/about.html"><i class="fas fa-info-circle" aria-hidden="true"></i> About</a></li>
  <li><a href="https://api-docs.oscwii.org"><i class="fas fa-book" aria-hidden="true"></i> API</a></li>
  <li><a href="https://beta.oscwii.org/publish.html"><i class="fas fa-upload" aria-hidden="true"></i> Publish</a></li>
</ul>
